
.m-nav-layout {

  /* layout 样式 */
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .content-container,
  .content {
    max-width: 100% !important;
  }

  /* aside 样式 */
  .aside {
    padding-left: 0;
    max-width: 224px;
  }

  .content .copyright {
    display: none;
  }

  /* tip */
  .tip {
    .custom-block-title {
      display: none;
    }
    p {
      margin: 0;
    }
  }

  .vp-doc h2 {
    margin-top: 24px;
  }

  .vp-doc a {
    text-decoration: none;
  }

  .medium-zoom-overlay,
  .medium-zoom-image {
    z-index: 0 !important;
  }
}

.icon {
  z-index: 0 !important;
}
